.header_main{
    width: 1542px;
    height: 41px;
    background: rgb(0 0 0 / 77%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    
}
body{
    margin: 0px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
.apple_logo{
    width: 15px;
    height: 15px;
    padding-left: 273px;
    margin-top: 12px;
    cursor: pointer;
    
}
.header_main .header_font{
        padding-left: 27px;
        padding-top: 10px;
        color: rgba(0, 0, 0, 0.8);
        font-family: 'San Francisco', Helvetica, Arial, san-serif;
        font-size: 11px;
        display: flex;
        margin-top: -25px;
        margin-left: 258px; 
        cursor: pointer;    
}
 #font_header{
    padding-left: 44px;
    list-style-type: none;
    color: rgb(255 255 255 / 77%);
    font-size: 11px;
    cursor: pointer;
}
.header_main svg{
    margin-top: -26px;
    float: right;
    margin-right: 373px;
}
section {
    margin-right: -42px;
    margin-top: -3px;
}
.header{
    height: 724PX;
}
.first_small_header{
    width: 100%;
    height: 42px;
    background: rgb(22 22 23 / 0%);
}
.first_sub_header{
    width: 100%;
    height: 40px;
    background-color: #262525;
    margin-top: -15px;
}
.word{
    color: white;
    padding-top: 14px;
    font-size: 14px;
    padding-left: 414px
    
}
.word a{
    color: #0071e3;
    cursor: pointer;
}
.first_slide{
    width: 100%;
    height: 627px;
    background: black;
    margin-top: -41px;
}
.first_slide img{
    width: 10%;
    justify-content: center;
}
#first_slide_head{
    color: white;
    font-size: 61px;
    padding: 0px;
    text-align: center;
    padding-top: 36px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}
#secont_slide_head{
    color: white;
    margin-top: -30px;
    text-align: center;
    font-size: 26px;
    
   

}
.heading_section_texts button {
    
    margin-left: 42%;
    height: 45px;
    width: 130px;
    border-radius: 35px;
    font-size: 17px;
    background: #0071e3;
    color: white;
    border-color: transparent;
    font-weight: bold;
    margin-top: -2px;
    cursor: pointer;

   
}
.heading_section_texts button:hover{
    background: #1c80dd;
}
.heading_section_texts img{
    width: 53%;
    margin-left: 23%;
    margin-top: 5px;
}
.heading_section_texts input{
    margin-right: 649px;
    height: 41px;
    width: 82px;
    border-radius: 35px;
    font-size: 17px;
    background: #0000ff00;
    color: #2997ff;
    border: 1px solid #2997ff;
    margin-top: 0px;
    text-align: center;
    float: right;
    font-weight: normal;
    cursor: pointer;
}
.heading_section_texts input:hover{
    background: #0077ED;
    color: white;
    cursor: pointer;
}
.secont_slide{
    width: 100%;
    height: 589px;
    background: #f5f5f7;
    margin-top: 8px;
}
.second_img{
    width: 30%;
    margin-left: 510px;
    margin-top: 19px;
}
.secont_slide input{
    margin-right: 726px;
    height: 41px;
    width: 82px;
    border-radius: 35px;
    font-size: 17px;
    background: #0000ff00;
    color: #2997ff;
    border: 2px solid #2997ff;
    margin-top: 11px;
    text-align: center;
    float: right;
    cursor: pointer;
}
.secont_slide input:hover{
    background: #2997ff;
    color: white;
    cursor: pointer;
}
.third_slide{
    width: 100%;
    height: 613px;
    background: #000000;
    margin-top: 8px;
}
#first_slide_head1{
    color: white;
    font-size: 61px;
    padding: 0px;
    text-align: center;
    padding-top: 36px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    margin-top: 11px;
    
} 
#secont_slide_head1{
    color: white;
    margin-top: -30px;
    text-align: center;
    font-size: 26px;
   
}
.heading_section_texts1 button {
    
    margin-left: 42%;
    height: 45px;
    width: 130px;
    border-radius: 35px;
    font-size: 17px;
    background: #0071e3;
    color: white;
    border-color: transparent;
    font-weight: bold;
    margin-top: -2px;
    cursor: pointer;

   
}
.heading_section_texts1 button:hover{
    background: #1c80dd;
}
.heading_section_texts1 input{
    margin-right: 649px;
    height: 41px;
    width: 82px;
    border-radius: 35px;
    font-size: 17px;
    background: #0000ff00;
    color: #2997ff;
    border: 1px solid #2997ff;
    margin-top: 0px;
    text-align: center;
    float: right;
    font-weight: normal;
    cursor: pointer;
}
.heading_section_texts1 input:hover{
    background: #06c;
    color: white;
    cursor: pointer;
}

.third_slide img{
    width: 70%;
    justify-content: center;
    margin-left: 419px;
    margin-top: 70px;
}

.fifthe_slide{
    width: 100%;
    height: 613px;
    background: #000000;
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    background: white;
}
.forthe_slide_inner{
    width: 100%;
    height: 613px;
    background: #000000;
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    background: white;
}
.left1{
    width: 49%;
    height: 100%;
    background: #f5f5f7;
    margin-top: 5px;
    margin-left: 10px;
}
.right1{
    width: 49%;
    height: 100%;
    background: rgb(0 0 0);
    margin-top: 5px;
    margin-left: 10px;
   
}
.sixth_slide{
    width: 100%;
    height: 613px;
    background: #000000;
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    background: white;
}
.sixth_slide_inner{
    width: 100%;
    height: 613px;
    background: #000000;
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    background: white;
}
.left2{
    width: 49%;
    height: 100%;
    background: #f5f5f7;
    margin-top: -5px;
    margin-left: 10px;
}
.right2{
    width: 49%;
    height: 100%;
    background: #fafafa;
    margin-top: -5px;
    margin-left: 10px;
   
}
.seventh_slide{
    width: 100%;
    height: 613px;
    background: #000000;
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    background: white;
}
.seventh_slide_inner{
    width: 100%;
    height: 613px;
    background: #000000;
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    background: white;
}
.left3{
    width: 49%;
    height: 100%;
    background: linear-gradient(to bottom, #9bd1f3, #ecf5fc);
    margin-top: -5px;
    margin-left: 10px;
}
.right3{
    width: 49%;
    height: 100%;
    background: #f5f5f7;
    margin-top: -5px;
    margin-left: 10px;
   
}
.fifthe_slide_inner{
    width: 100%;
    height:  613px;;
    display: flex;
}
#fifthe_slide_head{
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 0px;
    text-align: center;
    padding-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}
#fifthe_sub_slide_head{
    color: rgb(0, 0, 0);
    margin-top: -30px;
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    
}
.fifthe_slide_inner button{
    margin-left: 37%;
    height: 39px;
    width: 104px;
    border-radius: 35px;
    font-size: 13px;
    background: #0071e3;
    color: white;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.fifthe_slide_inner button:hover{
    background: #1c80dd;
}
.fifthe_slide_inner input{
    margin-right: 284px;
    height: 36px;
    width: 66px;
    border-radius: 35px;
    font-size: 13px;
    background: #0000ff00;
    color: #2997ff;
    border: 1px solid #2997ff;
    margin-top: 0px;
    text-align: center;
    float: right;
    font-weight: normal;
    cursor: pointer;
}
.fifthe_slide_inner input:hover{
    background: #06c;
    color: white;
    cursor: pointer;
}
.fifthe_slide_inner img{
    width: 58%;
    margin-top: 18px;
    margin-left: 153px;
}

#fifthe_sub_slide_head1{
    color: rgb(255, 255, 255);
    margin-top: 2px;
    text-align: center;
    font-size: 21px;
    font-weight: normal;

}
.fifthe_slide_inner button{
    margin-left: 37%;
    height: 39px;
    width: 104px;
    border-radius: 35px;
    font-size: 13px;
    background: #0071e3;
    color: white;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.fifthe_slide_inner button:hover{
    background: #1c80dd;
}
.fifthe_slide_inner input{
    margin-right: 284px;
    height: 36px;
    width: 66px;
    border-radius: 35px;
    font-size: 13px;
    background: #0000ff00;
    color: #2997ff;
    border: 1px solid #2997ff;
    margin-top: 0px;
    text-align: center;
    float: right;
    font-weight: normal;
    cursor: pointer;
}
.fifthe_slide_inner input:hover{
    background: #06c;
    color: white;
    cursor: pointer;
}

.imag1 img{
    width: 100%;
    margin-top: 27px;
    margin-left: 0px;
}
.imag2 img{
    width: 20%;
    margin-left: 299px;
    padding-top: 38px;
}
.sixth_slide_inner{
    width: 100%;
    height:  613px;;
    display: flex;
}
#sixth_slide_head{
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 0px;
    text-align: center;
    padding-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    margin-top: 57px;

}
#sixth_sub_slide_head{
    color: rgb(0, 0, 0);
   padding-top: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    margin-top: -34px;
    
}
#sixth_sub_sub_slide_head{
    color: rgb(0 0 0 / 47%);
    padding-top: -11px;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    margin-top: -15px;
}
.sixth_slide_inner button{
    margin-left: 37%;
    height: 39px;
    width: 104px;
    border-radius: 35px;
    font-size: 13px;
    background: #0071e3;
    color: white;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.sixth_slide_inner button:hover{
    background: #1c80dd;
}

.sixth_slide_inner input{
    margin-right: 284px;
    height: 36px;
    width: 66px;
    border-radius: 35px;
    font-size: 13px;
    background: #0000ff00;
    color: #2997ff;
    border: 1px solid #2997ff;
    margin-top: 0px;
    text-align: center;
    float: right;
    font-weight: normal;
    cursor: pointer;
}
.sixth_slide_inner input:hover{
    background: #06c;
    color: white;
    cursor: pointer;
}
.sixth_slide_inner img{
       width: 100%;
    margin-top: 18px;
    margin-left: 0px;
}
#sixth_slide_head1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 0px;
    text-align: center;
    padding-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    margin-top: 57px;

}
#sixth_sub_slide_head1{
    color: rgb(0, 0, 0);
   padding-top: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    margin-top: -34px;
    
}
#sixth_sub_sub_slide_head1{
    color: rgb(0 0 0 / 47%);
    padding-top: -11px;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    margin-top: -15px;
}
.sixth_slide_inner button{
    margin-left: 37%;
    height: 39px;
    width: 104px;
    border-radius: 35px;
    font-size: 13px;
    background: #0071e3;
    color: white;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.sixth_slide_inner button:hover{
    background: #1c80dd;
}

.sixth_slide_inner input{
    margin-right: 284px;
    height: 36px;
    width: 66px;
    border-radius: 35px;
    font-size: 13px;
    background: #0000ff00;
    color: #2997ff;
    border: 1px solid #2997ff;
    margin-top: 0px;
    text-align: center;
    float: right;
    font-weight: normal;
    cursor: pointer;
}
.sixth_slide_inner input:hover{
    background: #06c;
    color: white;
    cursor: pointer;
    cursor: pointer;
}
.sixth_slide_inner img{
       width: 100%;
    margin-top: 18px;
    margin-left: 0px;
}
.seventh_slide_inner{
    width: 100%;
    height:  613px;;
    display: flex;
}
#seventh_slide_head{
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 0px;
    text-align: center;
    padding-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}
#seventh_sub_slide_head{
    color: 1d1d1f;
    margin-top: 1px;
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    
}
.seventh_slide_inner button{
    margin-left: 37%;
    height: 39px;
    width: 104px;
    border-radius: 35px;
    font-size: 13px;
    background: #1D1D1F ;
    color: #FFF ;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.seventh_slide_inner button:hover{
    background: #363637;
}
.seventh_slide_inner input{
    margin-right: 284px;
    height: 36px;
    width: 66px;
    border-radius: 35px;
    font-size: 13px;
    background: #0000ff00;
    color: #1D1D1F;
    border: 1px solid #1D1D1F;
    margin-top: 0px;
    text-align: center;
    float: right;
    font-weight: normal;
    cursor: pointer;
}
.seventh_slide_inner input:hover{
    background: #1D1D1F;
    color: white;
    cursor: pointer;
}
.seventh_slide_inner img{
    width: 45%;
    margin-top: 18px;
    margin-left: 206px;
}
.imag3 img {
    width: 20%;
    margin-left: 299px;
    padding-top: 38px;
}


#seventh_slide_head1{
    color: rgb(0 0 0);
    margin-top: 49px;
    text-align: center;
    font-size: 21px;
    font-weight: normal;

}
.button_setting button {
    margin-left: 40%;
    height: 39px;
    width: 151px;
    border-radius: 35px;
    font-size: 13px;
    background: #06c;
    color: white;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.button_setting button:hover{
    background: #1c80dd;
}
.imag_top img{
    width: 20%;
    
    
    
}
.imag_last img{
    margin-left: 0px;
    margin-top: 40px;
    width: 100%;
}

main{
    width: 100%;
    height: 602px;
    background: #ffffff;
    z-index: -1;
    position: relative;
   
}
main::-webkit-scrollbar{
    width: 0px;
}
.eight_slide{
    width: 100%;
    height:600px;
    background: #ffffff;
   display:flex;
   overflow-x: auto;
   display: flex;
   overflow-y:hidden ;
   margin-top: 10px;
   z-index: -1;
   position: absolute;
	
  

}
.eight_slide::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    margin: 0;
}
.eight_slide .item{
    background-color: rgba(0, 0, 0, 0);
    min-width: 76%;
    height: 600px;
    margin-top: 83px;
    margin-left: 10px;
    width: calc(150px * 10);
    animation: scroll 15s 0.5s cubic-bezier(0.25, 0.1, 0.25, 1)   infinite;
   
}
.item img{
   
    margin-top: -70px;
    margin-left: -419px;
    width: 100%;
    object-fit: cover;
    z-index: 10;
   
}
.item img:hover{
    transform: scale(1.018);
transition: transform 0.7s;
cursor: pointer;
}

@keyframes  scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-150px * 5));
	}
}
.scroll_uder_section {
    width: 100%;
    height: 30px;
    background: rgb(255, 255, 255);
    margin-top: -13px;
}
.scroll_uder_section_inner button{
    width: 21px;
    height: 21px;
    background: #d2d2d7;
    float: right;
    margin-top:5px;
    margin-right: 18px;
    border-radius: 20px;
   border-color: #00000000;
   

}
button svg{
    width: 8px;
    padding-right: 1px;
    margin-left: -1px;
    margin-top: 1px;
}

.last_dot ul{
    display: flex;
    justify-content: center;
    padding-left: 82px;
   
}
.last_dot ul li{
    padding-left: 19px;
    width: 7px;
    font-size: 26px;
    color: #d2d2d7;
}
 #color1{
    color: #595555;
}
footer{
    width: 100%;
    height: 906px;
    background: rgb(245, 245, 247);
}
.footer_content{
    width: 67%;
    height: 800px;
    background: rgb(245, 245, 247);
    margin-left: 267px;

}
.footer_content p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.56);
    padding-top: 20px;

}
.footer_content p a{
    color: rgba(0, 0, 0, 0.72);
}
.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin: 0 15px;
}

.footer-column h3 {
    font-size: 12px;
    margin-bottom: 10px;
    color: rgb(0 0 0 / 55%);
}

.footer-column ul {
    list-style: none;
    padding: 0;
   
}

.footer-column ul li {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.56);
    padding-top: 4px;
}
.under_foter{
    width: 100%;
    height: 118px;
    background:  rgb(245, 245, 247);
}
.under_foter p a{
    color: rgb(0, 102, 204);
}
.last_line_footer{
    display: flex;
    margin-left: -65px;
    
}
.last_line_footer p{
 padding-left: 65px;
}
.last_line_footer p a{
    color: rgba(0, 0, 0, 0.56);
   text-decoration: none;
}